h1 {
  color: blue;
}

.large {
  font-size: 64px;
}

.small {
  font-size: 12px;
}

.orange-header {
  color: orange;
}

.link-without-underline {
  text-decoration: none;
}

.link-without-underline:visited {
  color:greenyellow;
}

.link-without-underline:hover {
  text-decoration: underline;
  color: gold;
}

ul.orange-items > li {
  list-style: none;
  background-color: darkgoldenrod;
  margin: 5px;
  border-color: darkgreen;
  border-style: dashed;
  border-radius: 5px;
  padding: 5px;
}

ul.red-items > li {
  background-color: red;
}

.container {
  display: flex;
}

.left {
  background-color: darkgrey;
  margin: 5px;
}

.right {
  background-color: darkmagenta;
  flex-grow: 1;
  margin: 5px;
}

.middle {
  background-color: darkseagreen;
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px;
  background-color: darkslateblue;
}

.grid-container > div {
  background-color: dodgerblue;
}
