.flexbox-container {
  display: flex;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}

.flexbox-item {
  background-color: coral;
  border: yellow 3px dashed;
  min-height: 300px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-content: center;
}

.sidebar {
  flex: 1;
}

.content {
  flex: 3;
}
